/* Fondo general */
body {
  background-color: #121212; /* gris más oscuro */
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  background-color: #2e2e2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #f7c948;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f7c948;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #f7c948;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Carrito */
.cart-widget {
  position: relative;
  font-size: 1.5rem;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #f7c948;
  color: #1c1c1c;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 2px 6px;
}

/* Contenido principal */

body {
  background-color: #1c1c1c; 
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  gap: 1rem;
}

/* Títulos */
h1 {
  color: #f7c948;
  font-size: 3rem;
  letter-spacing: 2px;
}

h2 {
  color: #f7c948;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Texto bienvenida */
.item-container p {
  color: #ffffff;
  font-size: 1.2rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background: #2e2e2e;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  background: #f7c948;
  color: #1c1c1c;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

.detail-container {
  display: flex;
  gap: 2rem;
  padding: 3rem;
  justify-content: center;
  flex-wrap: wrap; 
}


.detail-container img {
  width: 400px; 
  max-width: 100%; 
  border-radius: 10px;
  object-fit: cover; 
}

.detail-container div {
  max-width: 400px;
}

@media screen and (max-width: 500px) {
  .detail-container {
    flex-direction: column; 
    padding: 1rem;
    gap: 1rem;
  }

  .detail-container img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

  .detail-container div {
    max-width: 100%;
    text-align: center;
  }
}

